/* CSS */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
   
}

.card {
    background-color: #A10000;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 50%;
}

.separar_colunas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5rem;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 48%;
}

.linha_3 {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(31,69,120, 0.2);
}
.input::placeholder{
    color: white;
}
.select {
    background-color: rgba(31,69,120, 0.2);
    color: white;
}
.selectSeries{
    width: 50%;
}

.botao_enviar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    cursor:pointer;
}
