.alinhar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card{
    width: 50%;
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-fundo-botao);
    justify-content: center; 
}
.formulario_conteudo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    margin: 5%;
}

/*** SEPARAR AS COLUNAS***/
.separar_colunas{
    padding: 2% 15%;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    gap: 2em;  
    flex-wrap: wrap;  
    margin: auto;
}

.coluna_1, .coluna_2{
    display: flex;
    gap: 1.5rem;

}
.linha_3{
    margin: auto;
    margin-bottom: 1rem;
}


/* form{
    padding: 1rem;
    gap: 2rem;
    margin: 0 0 1.5rem 0;
} */
.h1-cadastro{
    text-align: center;
    margin: auto;
}
/* .input{   
    border: none;
    outline: none;
    
}
.input input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
} */
.nome{
    display: flex;
    margin: 0 .5rem .5rem  0;
    background-color: rgb(31, 69, 120, 0.2);
    border: none;
    padding: 3%;
    border-radius: 5px;
    outline: none;
    color: rgb(255, 255, 255, 0.8);
}
.idEquipamento{
    display: flex;
    margin: 0 .5rem .5rem  0;
    background-color: rgb(31, 69, 120, 0.2);
    border: none;
    padding: 3%;
    border-radius: 5px;
    outline: none;
    color: rgb(255, 255, 255, 0.8);
}
.nomeDoequi{
    display: flex;
    margin: 0 .5rem .5rem  0;
    background-color: rgb(31, 69, 120, 0.2);
    border: none;
    padding: 3%;
    border-radius: 5px;
    outline: none;
    color: rgb(255, 255, 255, 0.8);
}
/* .dropdown_series{
    display: flex;
    margin: 0 .5rem .5rem  0;
    background-color: rgb(31, 69, 120, 0.2);
    border: none;
    border-radius: 5px;
    outline: none;
    color: rgb(255, 255, 255, 0.8);
}
.dropdown{
    display: flex;
    margin: 0 .5rem .5rem  0;
    background-color: rgb(31, 69, 120, 0.2);
    border: none;
    border-radius: 5px;
    outline: none;
    color: rgb(255, 255, 255, 0.8);
} */
/* .inputUser{
    background-color: var(--cor-dos-inputs);
    color: var(--cor-das-letras);
    border: none;
    outline: none;
    width: 20rem;
    height: 3rem;
    border-radius: 4px;
    padding: .5rem;
}
.inputUser::placeholder{
    color: var(--cor-das-letras);
    font-family: 'Poppins';
} */

/********** select********/
/* .dropdown{
    margin-top: 20px;
    position: relative;
}
*/
.btn_selecione{
    display: flex;
    margin: 0 .5rem .5rem  0;
    background-color: rgb(31, 69, 120, 0.2);
    padding: 3%;
    border: none;
    border-radius: 5px;
    outline: none;
    color: rgb(255, 255, 255, 0.8);
} 

.btn_selecione span{
    /* width: 100%; */
    margin: auto;
    font-family: 'Poppins';

}

/* .conteudo_selecione, .conteudo_selecione_series{
    border: 1px solid var(--cor-botoes);
    border-radius: .5rem;
    padding: .6rem;
    width: 20rem;
    margin-top: .1rem;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--cor-dos-inputs);
} */
.ativo{
     display: block !important;
}
/* .conteudo_selecione input, .conteudo_selecione_series input{
    padding: .2rem;
    width: 15rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: 1rem;

} */
/* .conteudo_selecione, .conteudo_selecione_series, .opcoes{
    max-width: 20rem;
    list-style: none;
    overflow: auto;
    height: 50vh;
    font-size: 1rem ;
} */
.opcoes li{
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: .2rem;
    border-radius: .5rem;
}
.opcoes li:hover{
    background-color: var(--cor-dos-inputs);
}

/* .dropdown .active, .dropdown_series .active{
    display: block;
} */

/* BOTAO            */

.botao_enviar{
    display: flex;
    align-items: center;
    color: var(--cor-das-letras);
    border-radius: 2rem;
    border: none;
    padding: .5rem;
    outline: none;
    height: 3rem;
    margin:  1% auto;
    background-color: rgb(166, 0, 3, 0.8);
    color: rgb(255, 255, 255, 0.8);

}
.h3_botao{
    font-size:1rem;
    padding: 1rem;
}
.botao_enviar Image{
    padding: .2rem;
}
/* .botao_enviar:hover{
    box-shadow: 0 3px 33.4px #ffffff;

} */