.container {
    text-align: center;
    padding: 20px;
  }
  
  .contact {
    max-width: 600px;
    margin: auto;
  }
  
  .contact_h1 {
    color: #ffffff;
    font-style: oblique;
  }

  .contact_h3{
    color:black;
  }
  
  .formulario input,
  .formulario textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
  }
  
  .formulario button {
    background: #A10000;
    color: white;
    font-weight: bold;
    font-style: inherit;
    padding: 5px 36px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .formulario button:hover {
    background: #a53a3a;
  }
  
