.container {
    padding: 20px;
    justify-content: left;
    display: flex;
  }
  
  .contact {
    max-width: 600px;
    margin: auto;
  }
  
  .contact_h1 {
    color: #ffffff;
    margin-bottom: 10px;
  }

  .contact_h3{
    color:rgb(255, 255, 255);
    margin-bottom: 10px;
    font-style: oblique;
  }
  
  .formulario input,
  .formulario textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    opacity: 3;
    margin-top: 15px;
  }
  
  .formulario button {
    background: #A10000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 38px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
  }
  
  .formulario button:hover {
    background: #a53a3a;
  }
  
.quadradoRed{
  display: flex;
  position: absolute;
  right: 20px;
  padding-bottom: 20px;
  margin-right: 400px;
}

.quadradoWhite{
  display: flex;
  position: relative;
  left: 20px;
  margin-top: 50px;
}

.ImgMapa{
  display: flex;
  position: absolute;
  right: 10px;
  padding-top: 20px;
  margin-right: 400px;
}

.TodasAsImgs{
  display: flex;
  justify-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 400px;
}
