
  /* Main */
  .Maincontainer {
    text-align: center;
    padding: 40px;
  }

  .container_funcionamento {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }

  .horario_h1{
    text-align: center;
  }

  
  .horarios-container {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .retangulo {
    width: 100px;
    height: auto;
  }
  
  .horarios {
    margin-top: 20px;
    font-size: 18px;
    position: absolute;
    top: 45%; /*Posiciona no centro verticalmente */
    left: 30%; /* Posiciona no centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centralizar */
    color: white; /* Cor do texto */
    text-align: left;
  }

  .time{
    margin-top: 20px;
    font-size: 18px;
    position: absolute;
    top: 59%; /* Posiciona no centro verticalmente */
    left: 22%; /* Posiciona no centro horizontalmente */
    text-align: left;
    transform: translateX(-20px);  /* Ajuste o valor conforme necessário */
  }
  
  .TituloMaior {
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
  }
  
  .subtitulo {
    color: #ffffff;
    font-size: -10px;
  }

  .TodasAsImgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  .img1{
    display: flex;
    position: relative;
    margin-top: 30px;
    margin-left: 210px;
    justify-content: flex-start;
    flex: 1;

  }

  .img2{
    display: flex;
    justify-content: flex-end;
    margin-left: 220px;
    margin-top: -430px; /* Move a imagem para cima */
  }

  .img3{
    display: block;
    justify-content: flex-start;
    flex: 1;
    margin-top: -370px; /* Move a imagem para cima */
    margin-left: -290px;
  }
  
  .img4{
    display: flex;
    margin-left: 290px;
    flex: 1;
    margin-top: -390px; /* Move a imagem para cima */
  }

  .img5{
    display: flex;
    justify-content: flex-start;
    margin-top: -460px; /* Move a imagem para cima */
    margin-left: -240px;
    transform: translateX(-20px);  /*Ajuste o valor conforme necessário */ 
  }