
  /* Main */
  .Maincontainer {
    text-align: center;
    padding: 40px;
  }

  .container_funcionamento {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }

  .horario_h1{
    text-align: center;
  }

  
  .horarios-container {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .retangulo {
    width: 100px;
    height: auto;
  }
  
  .horarios {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .TituloMaior {
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
  }
  
  .subtitulo {
    color: #ffffff;
    font-size: -10px;
  }

  .TodasAsImgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  .img1{
    display: flex;
    position: absolute;
    margin-top: 480px;
    margin-left: 250px;
    justify-content: flex-start;
  }

  .img2{
    display: flex;
    justify-content: flex-end;
    margin-left: 200px;
    margin-top: 30px;
  }

  .img3{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    margin-right: 400px;
    flex: 1;

  }
  
  .img4{
    display: flex;
    position: relative;
    margin-left: 300px;
  }
