.container {
    text-align: center;
    padding: 20px;
  }
  
  .checklist {
    list-style: none;
    padding: 0;
    width: 30%;
    background:#A10000;
    padding: 1%;
    border-radius: 20px;
  }
  
  .checklist li {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px;
    gap: 5%;
  }

  .checklist_02{
    list-style: none;
    padding: 0;
    width: 30%;
    background:#A10000;
    padding: 1%;
    border-radius: 20px;
  }

  .checklist_02 li{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px;
    gap: 5%;
  }
  
  .checklist img {
    width: 90px;
    margin-top: -29px;
    height: 60px;
    position: absolute;
  }

  .checklist_02 img{
    width: 100px;
    margin-top: -35px;
    height: 60px;
    position: absolute;
  }
  
  .clearButton, .funcButton {
    background: #A10000;
    border-radius: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 9px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .clearButton:hover, .funcButton:hover {
    background: #ca1d1d;
  }
  

  .checkzinho{
    margin-left: -145px;
    position: absolute;
  }

.fundo_checkList{
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
  padding:2% ;
  
}
