.resultadoIMC {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.linkVoltar{
    color: white;
    width: 50px;
    height: 50px;
}

.tituloFormulario {
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.containerFormulario {
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
}

.conteudoFormulario {
    width: 100%;
}

.formulario {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campoInputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.campoSelecionarchekBox{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: space-around;
    align-items: center;
}

.campoSelecionarchekBox label{
    align-items: center;
    display: flex; 
}

.campoChekBox{
    width: 20px; /* Define a largura */
    height: 20px; /* Define a altura */
    transform: scale(1.5); /* Aumenta o tamanho */
    cursor: pointer;
    margin-right: 10px;
}

.campoFormularioFundo{
    background-color: var(--cor-secundaria);
    width: 50%;
    padding: 4%;
    border-radius: 10px;
    margin: auto;
}

.inputPrimeiroCampo {
    margin-top: 5px;
    background-color: var(--cor-inputs);
    color: white;
    height: 40px;
    display: flex;
}

.campoInput>label {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.inputPrimeiroCampo{
    background-color: var(--cor-inputs);
    border: none;
    color: white;
    height: 36px;
    width: 170px;
    padding: 10px;
    border-radius: 50px;
}

.campoInput{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.inputPrimeiroCampo:focus {
    border: 1px solid #ffffff;
    outline: none;
}

.botaoEnviarFormulario{
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    height: 40px;
    max-width: 300px;
    min-width: 200px;
    margin: 24px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.5s;
}

.setaBotao{
    transition: all 0.5s;
}

.botaoEnviarFormulario:hover{
    background-color: #ff0000;
}

.botaoEnviarFormulario:hover > .setaBotao{
    margin-left: 10px;
}

.campoSuperior{
    display: flex;
    padding: 5px;
    width: 100%;
    justify-content: space-between;
}

.campoSelecione{
    color: white;
    margin-bottom: 24px;
}

.campoSelecionarchekBox{
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}


@media screen and (max-width: 768px){
    .conteudoFormulario{
        width: 80%;
    }

    .inputPrimeiroCampo>label {
        font-size: 12px;
    }
}

@media screen and (max-width: 415px){
    .conteudoFormulario{
        width: 90%;
    }
}
