.containerPrincipal{
    text-align: center;
    margin-top: 2%;
}
.tituloInfo, .tituloInfo2, .tituloInfo3, .info2{
    font-weight: 900;
    font-size: x-large;
}
.titulo{
    display: flex;
    gap: 3%;
}
.telefone{
    margin-top: 2%;
}
.local{
    margin-top: 9%;
}
.redeSocial{
    cursor: pointer;
}

.tituloInfo2{
    margin-top: 7%;
}
.tituloInfo3{
    margin-top: 10%;
}
.mapa{
    border-bottom: 1px solid #A10000;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.subContainer{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 30%;
}
.info1{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1%;
    border-radius: 10px;
    width: 23%;
    height: 48vh;
    display: flex;
    flex-direction: column;
}
.info2{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1%;
    border-radius: 10px;
    width: 23%;
    height: 50vh;
}