.body{
  height: 200%;
}
.container{
  flex-direction: column;
  /*margin-top: 20.21%;*/
  width: 100%;
}
.footer{
  padding: 1%;
  display: flex;
  justify-content: center;
  background-color: rgba(161, 0, 0, 0.5);
  height: 17vh;
  gap: 12%;
  
}
.footer2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(161, 0, 0);
  height: 6vh;
}
.lista1{
  line-height: 1.5;
}
.lista1 p{
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;

}

.lista1 p:hover{
  border-bottom: 1px solid #FFFFFF;
  cursor: pointer;
  color: rgb(145, 6, 6);
}