/* parte destinada do css da page (pagina principal do site) */

.fundo_home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.fundo_home_container{
    flex: 1;

}
.primeiro_bloco{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

.pmrBloco_coluna1{
    max-width: 50%;
    margin: 0 auto;
}

.pmrBloco_coluna2{
    max-width: 35%;
    height: auto;
    margin: 0 auto;
}
.img_ft_principal_coluna2{
    width: 100%;
    margin: auto;
    border-radius: 1rem;
}
.botao_pmrBloco {
    background-color:var(--cor-fundo-botao);
    display: flex;
    align-items: center;
    color: var(--cor-das-letras);
    border-radius: 1.5rem;
    border: none;
    padding: .5rem;
    outline: none;
    margin: 10px 2px 0 10px;
}
.botao_pmrBloco img{
    padding: 2px;
}
/*   BLOCO  2*/

.segundo_bloco{
    text-align: center;
    background-color: var(--cor-fundo-bloco-2);
    height: 60vh;
} 

.segundo_bloco h1{
    color:var(--cor-das-letras);
    text-align: center;
    padding: 1rem;
 
}

.imgs_txt{
    display: inline-block;
   
}

.quadrinho_1{
    display: inline-block;
    margin: 0 auto;
    height: auto;
    padding: 4.5rem;
}

/**  BLOCO  3 **/

.terceiro_bloco{
    display: flex;
    height: 80vh;
    align-items: center;
    padding: 2rem;
}

.imgs{
    align-items: center;
    margin: 1.5rem;
    /* padding: 1rem; */
}